@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Cantarell&display=swap');
body{
	background-color: #ffffff;
	font-family: 'Cantarell', 'Arial', sans-serif;
	font-size: 22px;
    margin: 0;
    padding: 0;
}
#content{
	background-color: #ffffff;
	max-width: 1600px;
	margin: 0 auto;
}
h1, h3, h5, h6{
	color: #1a4121;
	padding: 10px;
	text-align: center;
	font-family: 'Bubblegum Sans', 'Rockwell', serif;
}
h2{
	color: #1a4121;
	padding: 10px;
	text-align: center;
	font-family: 'Bubblegum Sans', 'Rockwell', serif;
	margin: 0;
}
h4{
	color: #1a4121;
	padding: 10px;
	text-align: center;
	font-family: 'Bubblegum Sans', 'Rockwell', serif;
}
p{
	padding: 10px;
	background-color: #d3ac64;
}
nav {
	background-color: #d3ac64cc;
	padding: 1em;
    display: flex;
    justify-content: space-around;
	z-index: 1;
}
nav a{
	text-align: center;
	color: #396E94;
	text-decoration: none;
	padding: 0.5em 0.75em;
	text-align: center;
	font-weight: bold;
}
nav a:hover{
	background-color: #396E94;
	color: #bbb89a;
	border-radius: 5px;
}
.logo{
	/* width: 300px; */
	/* height: 100px; */
	position: relative;
}
#logo_link {
	/* padding-top: 5px; */
    height: 100px;
    justify-self: center;
    align-self: center;
}
header{
	background-color: #1a4121;
    display: grid;
    grid-template-columns: 300px auto;
}
img{
	max-width: 100%;
}
main section{
	text-align: center;
}
main section img{
	box-sizing: border-box;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
	margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}
#hero-img{
	width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
	margin-top: 100px;
}
.home-title{
	color: #d3ac64;
	font-size: 2em;
	margin-top: 10px;
}
#hero-msg h4 {
    color: #d3ac64;
}
.home-grid{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
}
.rivers-card{
	grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
	grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
	grid-column: 8/10;
    grid-row: 2/3;
}
#background{
	grid-column: 1/11;
    grid-row: 4/9;
}
.mountains{
	grid-column: 2/7;
    grid-row: 5/8;
}
.msg{
	grid-column: 6/10;
    grid-row: 6/7;
}
.book, .join{
	background-color: #d3ac64;
	color: #396E94;
	text-decoration: none;
	font-size: 18px;
	padding: 15px 30px;
	margin-top: 50px;
	border-radius: 5px;
}
.book:hover, .join:hover{
	background-color: #396E94;
	color: #bbb89a;
}
.button-box{
	text-align: center;
	margin: 55px;
}
.card-img{
	width: 400px;
	height: 300px;
	border: 10px solid #1a4121;
	transition: transform .5s;
	box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
	opacity: .6;
	transform: scale(1.1);
}
.icon{
	width: 80px;
	padding-top: 10px;
}
#background{
	height: 725px;
	background-color: #1a4121;
}
.mountains{
	width: 100%;
	box-shadow: 5px 5px 10px #6f7364;
}
.msg{
	background-color: #d3ac64;
	line-height: 1.5em;
	padding: 35px;
	box-shadow: 5px 5px 10px #6f7364;
}
.msg h2{
	color: #1a4121;
	padding: 10px;
	text-align: center;
}
.msg p{
	color: #222222;
	font-size: 0.8em;
	padding-bottom: 15px;
}
#info{
	color: #d3ac64;
	font-size: 0.5em;
}
footer{
	background-color: #d3ac64;
	color: #000000;
	padding: 25px 50px;
	margin-top: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a{
	color: #396E94;
	text-decoration: none;
}
footer a:hover{
	color: #6c8474;
}
.social{
	padding: 10px;
}
footer .social img{
	padding-top: 15px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}